h1 { 
    font-family: "Helvetica Neue"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    line-height: 30px;
    color: #001D3D; } 

h2 {
  font-family: "Helvetica Neue"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px;
    color: #001D3D;
  padding-bottom:30px; }

h3 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px;
    color: #001D3D; } 

p { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px;
    color: #001D3D; } 

blockquote { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; } 

pre { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 11px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; }


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
  background-color:#EBEBEB;}

.btn{
  border-radius: 0;
  padding-top:0.7%;
  padding-bottom:0.7%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 300; 
  line-height: 23px; 
  background-color: #F5EC00;
  color:#001D3D;
  border-style: none;

  
}
.form-control{
  border-radius: 0;
  color: #001D3D;
  border:none;
}
.circle{
  background-color:#f5ed007c;
  width: 500px;
  height: 500px;
  border-radius:50%;
  position: absolute;
  right:-10%;
  top:80%;
  z-index:-1;
 
}



header h2 {
  color: #CEC8FF; 
 
}

.hero-text{
  text-align: left;
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
  
}
.hero-button{
  position: absolute;
  top: 60%;
  left: 10%;
  color: #001D3D;
  background-color:#F5EC00;
  font-size: 0.9em;
}

.site-footer {
  background-image: linear-gradient #CEC8FF, white;
  padding: 20px 0; }


.row-content {
  padding: 50px 0;
  min-height: 200px; }

.navbar {
  background-color: #EBEBEB; 
  color: #001D3D;}

.tab-content.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

a, a:hover {
  color: #001D3D;
  text-decoration: none;
   }





.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.login-button{
  background-color:#F5EC00;
  width:90px;
  height:30px;
  text-align:center;
  font-size:0.8em;
}
.card-light{
background-color:#0052C1;
}
.card-medium{
  background-color:#003566;
}
.card-heavy{
  background-color:#001D3D;
}
.card{
  border-radius: 0;
}

.card-body{
  color:white;
  height:150px;
}

.card-text{
  color:white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 12px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 300; 
  line-height: 23px;
}
.card-button{
  background-color:white;
}
.newsletter{
  background-color:#F5EC00;
}
.pairing{
  background-color: rgb(255, 255, 255);
  z-index:10;
  padding-top:5%;
  padding-bottom:5%;
}
.contact-form{
  padding:50px;
}