@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');

h1 {
  font-family: 'Arimo', 'Helvetica Neue';
  font-size: 48px;
  font-weight: 700;
  line-height: 30px;
  color: #001d3d;
}

h2 {
  font-family: 'Arimo', 'Helvetica Neue';
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #001d3d;
  padding-bottom: 30px;
}

h3 {
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  color: #001d3d;
}
h5 {
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  color: #001d3d;
}

p {
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  color: #001d3d;
}

blockquote {
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

pre {
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

body {
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}

hr {
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 1px;
}

.navbar-brand {
  font-family: 'Arimo', 'Helvetica Neue';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  height: 50px;
  line-height: 30px;
  color: #001d3d;
}

.btn-hero {
  border-radius: 2em;
  padding: 3% 10%;
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  background-color: #f5ec00;
  color: #001d3d;
  border-style: none;
  text-decoration: none;
}

.btn-cancel {
  border-radius: 0;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  background-color: rgb(139, 139, 139);
  color: white;
  border-style: none;
}

.form-control {
  border-radius: 0;
  color: #001d3dd3;
  border: none;
}

.circle {
  background-color: #f5ed007c;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  right: -10%;
  top: 50%;
  z-index: -1;
}

.logo {
  background-color: #001d3dd3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
header h2 {
  color: #cec8ff;
}

.hero {
  margin-bottom: 10%;

  padding-top: 10%;
}
.hero-text {
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #001d3d;
  padding-top: 30%;
}

.promobutton {
  margin-top: 10%;
}

.site-footer {
  padding: 5% 0;
  position: relative;
  background-color: #ebebeb;
  height: 300px;
}

.row-content {
  padding: 50px 0;
  min-height: 200px;
}

.navbar {
  color: #001d3d;
  background-color: #ebebeb91;
  padding-top: 0px;
  padding-bottom: 0px;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

a,
a:hover {
  color: #05488f;
  text-decoration: none;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.login-button {
  background-color: #f5ec00;
  width: 90px;
  height: 30px;
  text-align: center;
  font-size: 0.8em;
  line-height: 0.9rem;
  border-radius: 0.1rem;
}

.loginitem {
  border-style: underline;
}

.modal-header {
  background-color: #ebebeb;
}

.card-img-top {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.card-light {
  background-color: #0050c19c;
  backdrop-filter: blur(3px);
}

.card-medium {
  background-color: #003566b0;
  backdrop-filter: blur(3px);
}

.card-heavy {
  background-color: #001d3dc2;
  backdrop-filter: blur(3px);
}

.card {
  border-radius: 0.2rem;
  z-index: 2;
  box-shadow: 3px 3px 8px hsla(0, 0%, 0%, 0.151);
}

.card:hover {
  opacity: 0.8;
}


.card-body {
  color: white;
}

.card-text {
  color: #001d3d;
  font-family: 'Arimo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 23px;
}

.card-button {
  background-color: white;
}

.newsletter {
  background-color: #f5ec00;
}

.pairing {
  background-color: rgb(255, 255, 255);
  z-index: 10;
  padding-top: 5%;
  padding-bottom: 5%;
}

.productcontainer {
  background-color: rgb(255, 255, 255);
  padding-bottom: 5%;
  z-index: -2;
}

.circle-blue {
  background-color: #006af54b;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  left: -10%;
  top: 40%;
  z-index: 0;
}

.aboutcontianer {
  padding-top: 30px;
}
